/* saisissez ici vos règles CSS */

#container
{
  width: auto;
  margin: 0 auto;
}

header{
  text-align: center;
  padding: 1em 0;
  margin : 0;
  background: black;
  color: white;
}

#main{
  position: relative;
  flex-wrap:wrap;

}

#main li h3
{
  font-size: 20px;
  margin-bottom: 1em;
  font-weight:bold;
  color:#0980b3;
}

#main nav {
  position: absolute;
  top: 0;
  right: 0;
}

#main p {
  text-align: justify;
}

#main ul{
  padding : 10px;
}

#main li {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0,0,0,0.5);
  display: inline-block;
  text-align:center;
  padding:15px;
  margin:10px;
}

#main li img {
  height:200px;
}

#main form, #main nav > p{
  display: inline-block;
}

#albums{
  visibility: hidden;
  width:500px;
  background-color: white;
  position:absolute;
  text-align: center;
  border: solid 1px black;
  opacity: 0;
  padding-bottom: 0.5em;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:700px;
  top:25%;
  transition:transform 1s, opacity 1s, visibility 1s;
}

#albums img{
  height: 50px;
}

#albums h2{
  margin-top: 0;
  width: 100%;
  margin-bottom: 0;
  background-color: #0980b3;
  color: white;
}

#albums table{
  width: 100%;
}

#albums.show {
  transform: translateX(350px);
  opacity: 1;
  visibility: visible;
}

footer{
  text-align: center;
  padding: 0.5em 0;
  margin : 0;
  background: black;
  color: white;
}
