/* mise en page globale */

header, body, footer{
  width:980px;
  margin:0 auto;

}

body{
  min-width:480px;
  background-color: #f6f6f6;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h2{
  font-size:100%;
  padding-right:1em;
  text-decoration-line:underline;
  text-decoration-color:#DFDFDF;
  text-decoration-thickness:1px;
  text-underline-offset:10px;
  margin-bottom:1em;
  padding-left:1em;
}

p{
  font-size:80%;
  text-align:justify;
  hyphens:auto;
  line-height:1.5em;
}

li {
  display:inline-block;
}




*{
  margin: 0;
  padding: 0;
}

/* mise en page de l'entête */

header {
  background-color:black;
  color:white;
  position:relative;
}

header a {
  color: white;
  text-decoration-line:none;
}

section {
  padding: 10px;
  background-color: white;
  border: 1px solid #DFDFDF;
  margin-bottom: 20px;
}

section > article{
  display: inline-block;
  width: 30%;
}

section > article p{
  display: none;
}

.prah img{
  width: 170px;
  height: 170px;
}

/* mise en page de la section Pop/Rock */
.rprr{
  width: 240px;
  background-color: white;
  border: 1px solid #DFDFDF;
  float:right;
  margin-top: 10px;
}

.rprr h2 {
  padding: 10px;
}

.rprr img {
  width: 90px;
  height: 90px;
}
/* mise en page de la section Pop/Rock Artists Highlights */
.prah{
  margin-right:300px;
  padding: 10px;
}

.prah p {
  display: none;
}

/* mise en page de la section Pop/Rock Song Highlights */
.prsh{
  margin-right:300px;
}

.prsh a {
  color: black;
  text-decoration-line:none;
}

/* mise en page de l'aside Recent Pop/Rock Releases */
.pr{
  margin-right:300px;
  background-color: #f6f6f6;
  border: none;
}

.pr h2 {
  
  padding-left:0;
}

/* mise en page du footer */
footer{
  padding-top:20px;
  padding-bottom:20px;
  color:white;
  background-color: black;
}

footer a::after {
  content: '|';
  padding: 20px;
  margin: 5px;
}
footer a {
  color: white;
  text-decoration-line:none;
}

/* règles de mise en page pour rendre le site responsive */
