/* mise en page globale */

header,
body,
footer {
  width: 980px;
  margin: 0 auto;
}

body {
  min-width: 480px;
  background-color: #f6f6f6;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

h2 {
  font-size: 100%;
  padding-right: 1em;
  text-decoration-line: underline;
  text-decoration-color: #dfdfdf;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
  margin-bottom: 1em;
  padding-left: 1em;
}

p {
  font-size: 80%;
  text-align: justify;
  hyphens: auto;
  line-height: 1.5em;
}

li {
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
}

/* mise en page de l'entête */

header {
  background-color:black;
  color:white;
  position:relative;
  height: 70px;
  padding: 5px;
}

header a {
  color: white;
  text-decoration-line: none;
}

header h1{
  text-indent:100%;
  white-space: nowrap;
  overflow:hidden;
  background-image:url('images/poly-music.png');
  background-repeat: no-repeat;
  width:220px;
  height: 35px;
}

.hub{
  position: absolute;
  top:50px;
  font-weight:bold;
}

.hub li{
  padding-right: 10px;
}

.rs{
  display: none;
}

.register{
  position:absolute;
  right :10px;
  top: 60px;
  font-size:12px;
}

.searchbar{
  position:absolute;
  top: 10px;
  right: 5px;
}

.searchbar label{
  display:none;
}

.searchbar input[type=text] {
  padding: 2px;
  font-size: 12px;
  border: none;
  box-sizing: border-box;
  background-color: #1d1e20 !important;
  color: #aaaaaf;
}

.searchbar button {
  padding: 2px 4px;
  background: #ddd;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

section {
  padding: 10px;
  background-color: white;
  border: 1px solid #dfdfdf;
  margin-bottom: 20px;
}

section > article {
  display: inline-block;
  width: 30%;
}

section > article p {
  display: none;
}

.prah img {
  width: 170px;
  height: 170px;
}

.prah{
  position:relative;
}

.prah h3{
  position: absolute;
  width:170px;
  bottom:10px;
  font-size:14px;
  text-align:center;
  background-color:black;
  height:20px;
}

.prah h3 a{
  text-decoration-line:none;
  color:#ffff;
  vertical-align: middle;
}

/* mise en page de la section Pop/Rock */
.rprr {
  width: 240px;
  background-color: white;
  border: 1px solid #dfdfdf;
  float: right;
  margin-top: 10px;
}

.rprr h2 {
  padding: 10px;
}

.rprr img {
  width: 90px;
  height: 90px;
}
/* mise en page de la section Pop/Rock Artists Highlights */
.prah {
  margin-right: 300px;
  padding: 10px;
}

.prah p {
  display: none;
}

/* mise en page de la section Pop/Rock Song Highlights */
.prsh {
  margin-right: 300px;
}

.prsh a {
  color: black;
  text-decoration-line: none;
}

/* mise en page de l'aside Recent Pop/Rock Releases */
.pr {
  margin-right: 300px;
  background-color: #f6f6f6;
  border: none;
}

.pr h2 {
  padding-left: 0;
}

/* mise en page du footer */
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: black;
}

footer ul :not(:last-child):after {
  content: "|";
  padding: 5px;
  margin: 5px;
}
footer a {
  color: white;
  text-decoration-line: none;
}

/* règles de mise en page pour rendre le site responsive */
